# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* List popular languages for Data Science
* Creation of sorted and unsorted list on Jupyter Notebook
* Creation of tables on Jupiter Notebook
* Use of simple aritmetical code in Python 
* Creation of titles in Jupiter Notebook
* Review of the most common libraries used in Data Science

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. ggplot
4. Scikit learn

Most Popular languages for Data Science are:
1. Pyton
2. R
3. Java
4. Julia

|Data Science Tools|
|------------------|
|SQL|
|Postgre SQL|
|Mongo|
|Apache Airflow|
|Jupiter IDE|

### Below are a few examples of evaluating arithmetic expressions in Python.
4+8

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#his will convert 200 minutes to hours by diving by 60
minute=200
hour=200/60
print(round(hour,2))

3.33

## Author
Jose Luis Castañeda Cortés